img {
  width: 235px;
  height: 250px;
}

.moviePlotBox {
  width: 230px;
  height: 200px;
  overflow: scroll;
}

.moviePlotBox::-webkit-scrollbar {
  width: 0.7em;
}

.moviePlotBox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
